
#chat {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 300px;
    height: 400px;
}

#chat-button {
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#chat-frame {
    height: 400px;
    width: 300px;
}

#chat-frame img {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    background-color: white;
}

.hide {
    display: none;
}
